<%- include('../layout.ejs') %>
<div class="container-fluid">
<ol class="breadcrumb">
  <li><a href="#">用户首页</a></li>
  <li class="active">用户列表</li>
</ol>
<h2>用户列表</h2>
<table class="table table-hover">
  <tr>
    <td>id</td>
    <td>用户名</td>
    <td>密码</td>
    <td>是否是管理员</td>
  </tr>
  <% for(let i=0;i<users.length;i++){   %>
  <tr>
      <td><%= users[i]._id%></td>
      <td><%= users[i].username%></td>
      <td><%= users[i].password%></td>
      <td><%= users[i].isAdmin?'是':'否' %></td>
  </tr>
  <%}%>
</table>

  <nav aria-label="...">
    <ul class="pager">
      <li class="previous"><a href="/api/admin/user?page=<%= page-1 %>"><span aria-hidden="true">&larr;</span> 上一页</a></li>
      <li class="next"><a href="/api/admin/user?page=<%= page+1 %>">下一页 <span aria-hidden="true">&rarr;</span></a></li>
      <li> <%= page %>/<%= maxPage %></li>
    </ul>
  </nav>
 </div>
