<%- include('../layout.ejs')%>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li><a href="/api/admin/category">内容首页</a></li>
    <li class="active">内容修改</li>
  </ol>
  <h3>内容修改</h3>

<!--action='/api/admin/category/update' action不写默认是本地地址带requery 如果写了地址就不会有requery-->
  <form method="post">

    <div class="form-group">
      <label>标题</label>
      <input type="text" class="form-control" name="title" value="<%= result.title%>">
    </div>
    <div class="form-group">
      <label>简介</label>
      <input type="text" class="form-control" name="description" value="<%= result.description%>">
    </div>
    <div class="form-group">
      <label>图片</label>
      <input type="text" class="form-control" name="url" value="<%= result.url%>">
    </div>
    <div class="form-group">
      <label>内容</label>
      <textarea class="form-control" rows="20" name="content"><%= result.content%></textarea>
    </div>
    <button type="submit" class="btn btn-default">点击修改内容</button>
  </form>
</div>
